@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.h1 {
  margin-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.matInput {
  width: 100%;
  position: absolute;
  margin-right: 30px;
  margin-left: 30px;
}

.space {
  margin-top: 50px;
  margin-bottom: 50px;
}
