<h2>
  Pesquisar Cliente</h2>
<form [formGroup]="formL">
  <div class="form-group">
    <label class="center-block">Nome do Livro:
      <input class="form-control" formControlName="title" (keyup)="getLivroByName()" />
    </label>
  </div>
</form>
<p>FormL value: {{ formL.value | json }}</p>
<p>FormL status: {{ formL.status | json }}</p>
<p>Livros: {{ filterLivros | json }}</p>
<!-- <button mat-raised-button (click)="getLivroByName()">Pesquisar</button> -->
