

<h2>Pesquisar Cliente</h2>
<form [formGroup]="formC">
  <div class="form-group">
    <label class="center-block">Nome Completo:
      <input class="form-control" formControlName="fullName">
    </label>
  </div>
</form>
<p>Form value: {{ formC.value | json }}</p>
<p>Form status: {{ formC.status | json }}</p>
<p>Cliente: {{ cliente | json }}</p>

<button mat-raised-button (click)="getClientByName()">Pesquisar</button>



