<mat-toolbar class="color-nav-bar">

  <mat-toolbar-row>
    <span class="example-spacer">Teste IBM Santander</span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/Cliente">Buscar Cliente</button>
    <button mat-button routerLink="/Livro">Buscar Livro</button>
  </mat-toolbar-row>
</mat-toolbar>
