@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.color-nav-bar {
  background-color: #dd0031;
  color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  margin-bottom: 80px;
}
.mat-button{
  background-color: #dd0031;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
